
#InsideApp {
    width:  100%;
    height: 100%;
    overflow: auto;
}

#InsideApp-wrapped {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
    height: 100%;
}

#InsideApp-content {
    padding: 20px 10px;
}